@page
@model StudentAccomodation.Pages.Dormitories.GetDormotoriesModel
@{
}
<div class="text-center">
    <h3 class="display-4">Dormitories</h3>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Dormitory ID</th>
            <th>Name</th>
            <th>Address</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var @item in Model.Dormotory)
        {
        <tr>
            <td>@item.Dormitory_No</td>
            <td>@item.Name</td>
            <td>@item.Address</td>
            <td><a class="btn btn-info" asp-page="/Rooms/GetVacantRoom" asp-route-id="@item.Dormitory_No" asp-route-type="Room">View Vacant Room</a></td>
        </tr>    
        }
        
    </tbody>
</table>